
<ul>
    <% files.forEach(file => { %>
        <li>
            <a href="/download/<%= file %>"><%= file %></a>
            <form action="/delete/<%= file %>" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul> 