<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/notices">Notices</a></li>
        <li><a href="/files">Files</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>